APP_NAME=Social CMS

DB_HOST=localhost
DB_NAME=social_cms
DB_USER=root
DB_PASS=

APP_URL=http://localhost/social-cms/

APP_ENV=local

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

GEMINI_TEXT_MODEL=gemini-2.5-flash
GEMINI_IMAGE_MODEL=gemini-3.1-flash-image
# GEMINI_MODEL=gemini-3.5-flash
# GEMINI_MODEL=gemini-3.1-flash-lite

UPLOAD_MAX_IMAGE=5

UPLOAD_MAX_VIDEO=100

TEMP_UPLOAD_PATH=uploads/temp

UPLOAD_PATH=uploads/